
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 158 60% 28%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 152 46% 89%;
    --accent-foreground: 158 60% 28%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 158 60% 28%;

    --radius: 0.5rem;

    --sidebar-background: 158 60% 22%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 158 80% 35%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 158 35% 15%;
    --sidebar-accent-foreground: 0 0% 92%;
    --sidebar-border: 158 35% 30%;
    --sidebar-ring: 158 60% 28%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
